<div class="card mb-3" style="width: 100; ">
  <div class="row ">
    <img src="https://media.gqmagazine.fr/photos/5f7435372a7b0a4f7f543cf9/3:2/w_1350,h_900,c_limit/Burger%20King-chevre.jpg" class="card-img-top position-relative" alt="..." style="height:80vh;">
  </div>
</div>
<h1 class=" display-4 text-center position-absolute start-50 translate-middle">BIENVENUS CHEZ BRAZIL BURGER</h1>
<button type="button" class="btn call-action position-absolute start-50 translate-middle" routerLink="catalogue">Voir Menus & Burgers</button>
