<!--===================Début Détail du menu========================= -->
<div class="mt-2">
    <div class="d-flex burger">
        <span class="fw-bold">{{burge.burger.nom}}</span>
        <img [src]="convert(burge.burger.image)" class="col-md-6 d-flex">
        <div class="prix d-flex justify-content-between">
        <span class="me-3">P: {{burge.burger.prix}}</span>
        <span>Qté: {{burge.quatite}}</span>
    </div>
    
</div>



<!--=================== Fin Détail du menu========================= -->