<div class="container pb-3 ">
    <div class="card entete border px-5 py-3">
            <!-- ======================Entête du panier =========================-->

        <div class="d-flex justify-content-between ">
            <h2 class="fw-bold">BRAZIL BURGER</h2>
            <div class="me-4">
                <i class="fas fa-shopping-cart fs-2 "></i>
            </div>
        </div>
     <hr class="line">
        <div class="contenu-panier">
            <div class="row gy-5">
                <div class="col-md-7">
                    <!-- ======================Partie gauche du panier =========================-->
                    <div class="card left-card mb-2 position-relative fs-6 " *ngFor="let item of (items$ |async)">
                        <div class="row no-gutters">
                            <div class="col-md-1  column-img">
                                <img src="https://w7.pngwing.com/pngs/201/77/png-transparent-delicious-beef-burger-delicious-beef-burger-tomato-bread.png"    class="card-img " titlealt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title ">{{item.nom}}</h5>
                                    <p>{{item.prix}}</p>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="row action ms-5">
                            <div class="col-md-4">
                                <div class="form-control">
                                    <input type="number" min="1" max="10" name="points" value="1">
                                </div>
                            </div>
                            <div class="col-md-6 fs-5">
                                1000 Fcfa
                            </div>
                            <div class="col-md-2 delet">
                                <i class="fas fa-minus-circle  fs-5 "></i>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- ======================Partie droite du panier =========================-->
                <div class="col-md-5">
                    <div class="card grand-card right-card mx-3 p-4 fs-4">
                        <div class="card card1 right-card mx-3 p-4 fs-4">
                            <h6 class="fw-bold">OPTION COMMANDE</h6>
                            <form action="" class="mode-liv card ">
                                <div class="d-flex justify-content-between align-items-center check1">
                                    <input type="checkbox" name="emporter" id="" class="w-25 h-50"> Emporter
                                </div>
                                <hr>
                                <div class="liv">
                                    <div class="d-flex justify-content-between align-items-center check2 mb-2" id=" ">
                                        <input type="checkbox" name="livraison" id="" class="w-25 h-50"> Livraison
                                    </div>
                                    <select name="zone" id="" value="" class="ms-3 mb-2 py-1 fs-6">
                                        <option value="Médina">Médina</option>
                                        <option value="Médina">Médina</option>
                                        <option value="Médina">Médina</option>
                                        <option value="Médina">Médina</option>
                                        <option value="Médina">Médina</option>
                                    </select>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ======================footer du panier =========================-->
         <div class="total d-flex">
            <hr class="line">
            <div class="total-content d-flex justify-content-between">
                <p class="fw-bold fs-3 my-auto">Total: 24 000</p> 
                <button class="btn btn-primary" type="submit">COMMANDEZ-LIVRAISON</button>
            </div>      
            <hr class="line">
         </div>

            
        </div>
    </div>
</div>



