.container{
    height: 75vh;
}
.entete{
    height: 75vh;
    box-shadow: rgb(25, 24, 24) 0 0 5px;
}
.right{
    box-shadow: rgb(152, 149, 149) 0 0 5px;
}
.action{
    display: flex;
    align-items: center;
    position: absolute;
    top:20% ;
    right: 0%;
    width: 43%;
}
.delet{
    display: flex;
    justify-content: end;
}
.delet i{
    padding-right: 4%;
    /* color: red;    */
}
.btn-total{
    /* box-shadow: rgb(99, 152, 208) 0 0 5px; */
    background-color: #C7824B;
    border:2px solid #C7824B;
   
}
.grand-card{
    display: flex;
    flex-direction: column;
    justify-content:start;
}
input{
    width: 100%;
}
.total{
    height: 10vh;
    flex-direction: column;
    /* justify-content: space-between; */
    margin-right: 1em;

}
.line {
    border: none;
    border-top: 3px double #333;
    color: #333;
    overflow: visible;
    text-align: center;
    height: 5px;
}
/* .line:after {
background: #fff;
content: '§';
padding: 0 4px;
position: relative;
top: -13px;
} */
.liv{
background-color: bisque;
}
.btn-liv{
    background-color: #C7824B;
}
hr{
    margin: 0;
}
select{
    border: none;
    background-color: #fff;
    box-shadow: rgb(78, 76, 76) 0 0 5px;
    width: 92%;
    border-radius: 5px;
}
.check1, .check2{
    width: 56%;
}
/* ==========Mode payement===================== */
.gradient-custom {
/* fallback for old browsers */
background: #6a11cb;

/* Chrome 10-25, Safari 5.1-6 */
background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));

/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))
}
.accordion-collapse {
    background-color: rgb(191, 191, 244);
}
.lignesCmde{
    overflow-y: scroll;
    height: 65vh;
}
.resumeCmde{
    overflow-y: scroll;
    height: 60vh;
}