<tr class="row">
  <td class="col-1  text-center">1</td>
  <td class="col-2 text-center">{{commande.client.nom|uppercase}} {{commande.client.prenom}}</td>
  <td class="col-2 text-center">{{commande.reference}}</td>
  <td class="col-2  text-center">{{commande.montantCommande}}</td>
  <td class="col-2  text-center">{{commande.dateCmde | date}}</td>
  <td class="col-2  text-center">{{commande.etat}}</td>

  <td class="col-1  text-center">
      <input type="checkbox" #input name="" class="" id="" (click)="ajoutEtRetraitLivraison(commande,input)"  style="height: 2rem; width: 2rem">
  </td>
</tr>
           