<div class=" d-flex align-items-center flex-column">

    <h2 class="accordion-header" id="headingOne">------------------selectionner une Zone------------------</h2>
    <!--<select  [(ngModel)]="searchCmd" name="" id="" class="form-select w-25 my-3" style="height: 5vh;">
        <option value="" selected class=""></option>
        <option *ngFor="let zone of zones " class="text-center " value="{{zone.id}}">
            <em class="fw-bold">{{zone.nom | uppercase}}</em>
        </option>
    </select>-->
    <select  [(ngModel)]="searchCmd" class="form-select form-select-lg py-3 mb-3 text-white" aria-label=".form-select-lg example">
        <option selected><h1 class="">
            ====
            ZONE AYANT DES COMMANDES TERMINER
            ====

        </h1></option>
        <option value="1" *ngFor="let zone of zones ">
            <em class="fw-bold">{{zone.nom | uppercase}}=========================> Prix de Livraison: <span class="prix">{{zone.prixDeLivraison}}</span> F cfa</em>
        </option>

    </select>
    <!-- Button trigger modal -->
    <button type="button"  class="btn btn-success py-2 mb-3 fw-bold"  data-bs-toggle="modal" data-bs-target="#exampleModal"
        style="width: 7rem;" [disabled]="" >
        Choisir Livreur
    </button>

</div>

<div class="">
    <div class="card p-5">
        <span><em>{{nbreCmdeChoisie}}</em> Commande(s) sélectionné</span>
        <table class="table">
            <thead>
                <tr class="row">
                    <th  class="col-1 text-center fs-4">Numéro</th>
                    <th  class="col-2 text-center fs-4">Nom</th>
                    <th  class="col-2 text-center fs-4">Réference</th>
                    <th  class="col-2 text-center fs-4">Montant</th>
                    <th  class="col-2 text-center fs-4">Date</th>
                    <th  class="col-2 text-center fs-4">État</th>
                    <th  class="col-1 text-center fs-4">Choix</th>
                </tr>
            </thead>
            <tbody class="tbody">
                <app-commandes-a-livrer *ngFor="let commande of tousLesCommandes | filterZone:searchCmd " [commande]="commande">
                </app-commandes-a-livrer>
            </tbody>
        </table>
    </div>
</div>

<!--==================================Commande d'une zone===============================
    <app-commandes-a-livrer class="" ></app-commandes-a-livrer>
    -->

<!--==================================Modal===============================-->
<!-- Modal -->


<div class="modal fade " id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header text-white">
                <h4 class="modal-title mx-auto" id="exampleModalLabel">LISTE DES LIVREURS</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" >
                <table class="table">
                    <thead>
                        <tr class="row" >
                            <th  class="col-3 text-center fs-4">Nom</th>
                            <th  class="col-3 text-center fs-4">Prenom</th>
                            <th  class="col-3 text-center fs-4">Télépnone</th>
                            <th  class="col-3 text-center fs-4">choix</th>
                        </tr>
                    </thead>
                    <tbody class="tbody">
                        <tr class="row" *ngFor="let livreur of livreurrs">
                            <td class="col-3  text-center">{{livreur.nom | uppercase}}</td>
                            <td class="col-3 text-center">{{livreur.prenom }}</td>
                            <td class="col-3 text-center">{{livreur.telephone }}</td>
                            <td class="col-3 text-center">
                                <input type="radio" name="livreur" id=""  #input value="{{livreur.id}}" (input)="idLivreurSelectionne(input)"   class="" style="height: 1.5em;width: 1.5em">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                <button type="button"  class="btn btn-success"  data-bs-dismiss="modal" [disabled]="disableBtnValider()" (click)="addLivraison()">Valider</button>
            </div>
        </div>
    </div>
</div>