<div class=" detail-cmd container py-5 ">

    <div class="my-3 container" *ngFor="let commande of client.commandes ">

        <app-info-commande class="col-12" [commande]="commande"></app-info-commande>

        <h2 class="text-center  title text-white">Les produits commandés:</h2>
        <div class=" d-flex  detailsProduitsCmmde">

            <app-info-produit class="mx-2" *ngFor="let prod of commande.produits" [prod]="prod" style="width:23%"></app-info-produit>
            
        </div>
    </div>

</div>