<table class="table fs-3  px-5">
    <button type="button" id="annuler" class="btn btn-danger float-end mb-5" (click)="annulerCommande(commande)" [disabled]="disableBtnAnnuler(commande)">Annuler</button>
    <h1 class="text-center text-white">
        DETAIL COMMANDE: {{commande.reference}}

    </h1> 
    <tbody class="px-4">
        <tr class="table-active d-flex justify-content-between mb-2  text-white">
            <th scope="col">Zone:</th>
            <td> {{commande.zone.nom}}</td>
        </tr>
        <tr class="table-active d-flex justify-content-between mb-2  text-white">
            <th scope="col">Montant Total:</th>
            <td>{{commande.montantCommande }}</td>    
        </tr>
        <tr class="table-active d-flex justify-content-between  mb-2 text-white">
            <th scope="col">Date:</th>
            <td>{{commande.dateCmde | date}}</td>
        </tr>
        <tr class="table-active d-flex justify-content-between  mb-2 text-white">
            <th scope="col">Etat: </th>
            <td>{{commande.etat}}</td>
        </tr>
    </tbody>

</table>