<div class="card w-75 m-auto ">   
    <div class="header">
        <h5 class="card-title text-center fs-4 mt-2 fw-bold"[appMouvement]="maCouleur">DETAILS: {{showTitle(produit)|uppercase}}</h5>
        <span class="close" ><i class="fa-solid fa-xmark fs-3" routerLink="/catalogue"></i></span>
    </div>
    <i class="fa-solid panier position-absolute fa-cart-arrow-down fs-1" routerLink="/paniers"></i>
    <div class="card-body w-100" >
        <div class="detail w-100 d-flex justify-content-center">
            <div class="descrip col-4 p-3">
                <h3 class="fw-bold">{{produit.nom}}</h3>
                <p class="text-wrap">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                    Eligendi et sint maxime repudiandae. Optio, 
                    tenetur aliquid adipisci commodi consequuntur minima 
                    mollitia quas iusto ducimus. 
                    Explicabo exercitationem molestias cum reiciendis non?
                </p>
                    <span class="fw-bold fs-2 total" >Total: {{produit.prix}} F CFA</span>
                </div>

                <div class="image mx-5 col-4 card">
                    <img [src]="convert(produit.image)"class="col-md-6 d-flex">
                </div>

                <button type="button" class=" cmde h-25 btn-rounded rounded-5">
                      <div class="d-flex">
                        <span class="text-white fw-bold ">VOUS LE VOULEZ ? C’EST PAR ICI !</span>
                        <span><i class="fas fa-long-arrow-alt-right text-white fs-3 ms-2"></i></span>
                        </div>
                        <button class="btn btn-light btn-rounded rounded-4">CLICKER ICI & COMMANDER</button>
                </button>
                
                
            </div>
            <!--===================Début Détail du menu========================= -->
                <div class="burger-complement card mt-4 mb-3">
                    <div class="mx-5 col-4">
                        <img [src]="convert(produit.image)"class="col-md-6 d-flex">
                    </div>
                    <!--<app-sub-detail-menu></app-sub-detail-menu>-->
                </div>
            <!--=================== Fin Détail du menu========================= -->
            <div class="row g-5">
                <div class="frites col-6 px-4 py-3">
                    <h3 class="fw-bold ">Frites:</h3>
                    <div class="row g-2">
                        <app-complements *ngFor="let frite of frites" [produit]="frite" class="col col-sm-3 col-md-2"  ></app-complements>
                    </div>
                </div>
                <div class="frites col-6 px-2 py-3">
                    <h3 class="fw-bold">Boissons:</h3>
                    <div class="row d-flex g-2">
                        <app-complements *ngFor="let boisson of boissons" [produit]="boisson" class="col col-sm-3 col-md-2"></app-complements>
                    </div>
                </div>
                
            </div>
    </div>
</div>
