/* .grand-card{
    
} */
.cmde{
    background-color: #BA631F;
    border-radius: 10;
    padding: 1em;
    border: none;
    position: absolute;
    box-sizing: border-box;
    
}
.grand-card{
    box-shadow: rgb(120, 118, 118) 4px 4px 20px;
    box-sizing: border-box;
    /* overflow-y: auto;
    overflow-x: hidden; */
    height: 75vh;
    border-bottom: #ba631f 8px solid;
}
.cmde p{
    font-size: 1em;
}
.cmde .btn{
    color: #BA631F;
    box-sizing: border-box;
    height:5vh;
    border:none
}
.descrip,.image, .complement{
    box-shadow: lightgray 4px 4px 20px;
    box-sizing: border-box;
}
/* .descrip{
    /* overflow-y: scroll; */
/* } */
.image:hover{
    animation: zoominoutsinglefeatured 1s ;
    box-shadow:#BA631F 
}
  
@keyframes zoominoutsinglefeatured {
    0% {
        transform: scale(1,1);
    }
    50% {
        transform: scale(1.1,1.1);
    }
    100% {
        transform: scale(1,1);
    }
}
.total{
    color: #BA631F;
}
.card{
    position: relative;
}
.close{
    position: absolute;
    top: 2%;
    right: 2%;
}
.close i{
    cursor: pointer;

}
.cmde{
    position: relative;
  }
.panier{
    background-color: #ba631f;
    box-shadow: lightgray 4px 4px 20px;
    cursor: pointer;
    width: 5rem;
} 
.section-details{
    overflow-y: auto;
    overflow-x: hidden;
    /* border: 2px solid red; */
    height: 63vh;
    box-sizing: border-box;

}

.burger-complement{
    overflow-y: auto;
    box-shadow: rgb(242, 178, 129) 4px 4px 20px;
    border-bottom: red solid 2px;
    box-sizing: border-box;
    height: 10%;

}
.decrip-img{
    box-sizing: border-box;
}
.btn-cmd-burger{
    flex-direction: column;
    height: 10%;
    box-sizing: border-box;
}

.boisson{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.frite{
    overflow-x: auto;
}
.boissons{
    overflow-x: scroll!important;
    background: #000;
    border: #000 Solid 2px;
    border-radius: 10px ;
}
/* les boissons du menu================== */
.card-taiile{
    /* width: 50rem; */
    border :#BA631F solid 2px
}
.card-boi{
    box-shadow: rgb(120, 118, 118) 4px 4px 20px;
    box-sizing: border-box;
    background: #000;
}
.card-h{
    overflow-x: auto;
    scrollbar-width: thin;    
}
input[type=number] {
    -moz-appearance: textfield;
}
 
/* Chrome */
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button { 
	-webkit-appearance: none;
	margin:0;
}
.img-boisson{
background-color: #BA631F;
}
.line {
    border: none;
    border-top: 3px double #333;
    color: #333;
    overflow: visible;
    text-align: center;
    height: 5px;
}
.line:after {
background: #fff;
content: '§';
padding: 0 4px;
position: relative;
top: -13px;
} 
.fa-arrow-left{
    top: 4%;
    left: 2%;

}
.rangee{
    overflow-x: hidden;
    overflow-y: auto;
    box-shadow: rgb(61, 60, 59) 4px 4px 20px;
    border-bottom: red solid 2px;
    box-sizing: border-box;
}
.burger-boisson{
    overflow-x: hidden;
    overflow-y: auto;
}
.menu-similaire{
    overflow-x: scroll;
    overflow-y: hidden;
}