/* .grand-card{
    
} */
.cmde{
    background-color: #BA631F;
    border-radius: 10;
    padding: 1em;
    border: none;
    position: absolute;
}
.card-card{
    box-shadow: rgb(120, 118, 118) 4px 4px 20px;
    box-sizing: border-box;
}
.cmde p{
    font-size: 1em;
}
.cmde .btn{
    color: #BA631F;
    box-sizing: border-box;
    height:5vh;
    border:none
}
.descrip,.image, .complement{
    box-shadow: lightgray 4px 4px 20px;
    box-sizing: border-box;
}
.descrip{
    overflow-y: scroll;
}
.image:hover{
    animation: zoominoutsinglefeatured 1s ;
    box-shadow:#BA631F 
}
  
@keyframes zoominoutsinglefeatured {
    0% {
        transform: scale(1,1);
    }
    50% {
        transform: scale(1.1,1.1);
    }
    100% {
        transform: scale(1,1);
    }
}
.total{
    color: #BA631F;
}
.card{
    position: relative;
}
.close{
    position: absolute;
    top: 2%;
    right: 2%;
}
.close i{
    cursor: pointer;

}
.cmde{
    position: relative;
  }
.panier{
    background-color: #ba631f;
    box-shadow: lightgray 4px 4px 20px;
    cursor: pointer;
} 

.burger-complement{
    overflow-x: scroll;
    background: #000;
}

.boisson{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.frite{
    overflow-x: scroll;
}
.boissons{
    overflow-x: scroll!important;
    background: #000;
}
/* les boissons du menu================== */
.card-taiile{
    width: 12rem;
}
.card-boi{
    box-shadow: rgb(120, 118, 118) 4px 4px 20px;
    box-sizing: border-box;
    background: #000;
}
.card-h{
    overflow-x: scroll;
}
.card-boisss{
    
}