.cmde{
    background-color: #BA631F;
    border-radius: 10;
    padding: 1em;
    
}
.card{
    box-shadow: rgb(120, 118, 118) 4px 4px 20px;
    box-sizing: border-box;
}
.cmde p{
    font-size: 1em;
}
.cmde .btn{
    color: #BA631F;
    box-sizing: border-box;
    height:5vh;
    border:none
}
.descrip,.image, .complement{
    box-shadow: lightgray 4px 4px 20px;
    box-sizing: border-box;
}
.image:hover{
    animation: zoominoutsinglefeatured 1s ;
    box-shadow:#BA631F 
  }
  
@keyframes zoominoutsinglefeatured {
    0% {
        transform: scale(1,1);
    }
    50% {
        transform: scale(1.1,1.1);
    }
    100% {
        transform: scale(1,1);
    }
}
.total{
    color: #BA631F;
}
.card{
    position: relative;
}
.close{
    position: absolute;
    top: 2%;
    right: 2%;
}
.close i{
    cursor: pointer;

}
.cmde{
    position: relative;
  }
.panier{
    color: #ba631f;
    top:30%;
    right:13%
}

.burger-complement{
overflow-x: scroll;
}

/* .image{
    box-shadow: lightgray 4px 4px 20px;
    box-sizing: border-box;
} */