<div class="accordion" id="accordionExample" [ngStyle]="{display:'block'} ">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingTwo">
        <div class="accordion-button collapsed text-center fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" >
          ------------Veillez Choisir votre zone-------------
        </div>
      </h2>
        <div id="collapseTwo" class=" collapse " aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
            <select class="form-select form-select mt-1 w-100" aria-label=".form-select-sm example">
                <option selected disabled class="text-center">------------------------------Zones---------------------------------</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>
      </div>
    </div> 
</div>
