<div class="frites px-5 py-3">
    <h3 class="text-decoration-underline fw-bold mx-5 ">Frites:</h3>
    <div class="row">
        <div class="col-2 d-flex flex-column align-items-center">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQdVsc44_IwnVMFK20iIyfq5X1y2MGuUH3aX-hTNa0B4pMGbo5Jp19PQfUfMfn5w6s8Dj8&usqp=CAU" alt="" class="col-12">
            <div class="checkbox checkbox-primary checkbox-circle">
                <input id="chkPrimary" type="checkbox" checked />
            </div>
        </div>
        <div class="col-2 d-flex flex-column align-items-center">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQdVsc44_IwnVMFK20iIyfq5X1y2MGuUH3aX-hTNa0B4pMGbo5Jp19PQfUfMfn5w6s8Dj8&usqp=CAU" alt="" class="col-12">
            <div class="checkbox checkbox-primary checkbox-circle">
                <input id="chkPrimary" type="checkbox" />
            </div>
        </div>
        <div class="col-2 d-flex flex-column align-items-center">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQdVsc44_IwnVMFK20iIyfq5X1y2MGuUH3aX-hTNa0B4pMGbo5Jp19PQfUfMfn5w6s8Dj8&usqp=CAU" alt="" class="col-12">
            <div class="checkbox checkbox-primary checkbox-circle">
                <input id="chkPrimary" type="checkbox" />
            </div>
        </div>
        <div class="col-2 d-flex flex-column align-items-center">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQdVsc44_IwnVMFK20iIyfq5X1y2MGuUH3aX-hTNa0B4pMGbo5Jp19PQfUfMfn5w6s8Dj8&usqp=CAU" alt="" class="col-12">
            <div class="checkbox checkbox-primary checkbox-circle">
                <input id="chkPrimary" type="checkbox" />
            </div>
        </div>
        <div class="col-2 d-flex flex-column align-items-center">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQdVsc44_IwnVMFK20iIyfq5X1y2MGuUH3aX-hTNa0B4pMGbo5Jp19PQfUfMfn5w6s8Dj8&usqp=CAU" alt="" class="col-12">
            <div class="checkbox checkbox-primary checkbox-circle">
                <input id="chkPrimary" type="checkbox" />
            </div>
        </div>
        <div class="col-2 d-flex flex-column align-items-center">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQdVsc44_IwnVMFK20iIyfq5X1y2MGuUH3aX-hTNa0B4pMGbo5Jp19PQfUfMfn5w6s8Dj8&usqp=CAU" alt="" class="col-12">
            <div class="checkbox checkbox-primary checkbox-circle">
                <input id="chkPrimary" type="checkbox" />
            </div>
        </div>
    </div>
</div>
