nav{
    opacity: 0.9;
    border-left: 3px solid black;
    border-right: 3px solid black;
    box-shadow: rgb(18, 18, 18) 0 0 5px;
    padding: 0;
}
li a{
    color: black;
    font-weight: 400;
}
li a:hover{
    color: red;
}