.container{
    height: 75vh;
}
.entete{
    height: 75vh;
    box-shadow: rgb(25, 24, 24) 0 0 5px;
}
.contenu-panier{
    overflow-y: scroll;
    overflow-x: hidden;

}
.column-img{
margin-top: auto;
margin-bottom: auto;
}
.left-card{
    border-top: none ;
    border-right: none;
    border-left: none;
    border-bottom: 2px solid;
    border-radius: 0;
    height: 10vh;
    position: relative;
    
}

.action{
    display: flex;
    position: absolute;
    justify-content: space-evenly;
    top:20% ;
    right: 0;
    width: 50%;
}

input{
    width: 100%;
}

.line {
    border: none;
    border-top: 3px double #333;
    color: #333;
    overflow: visible;
    text-align: center;
    height: 5px;
}
.line:after {
    background: #fff;
    content: '§';
    padding: 0 4px;
    position: relative;
    top: -13px;
}
.liv{
    background-color: bisque;
}
hr{
    margin: 0;
}

.gradient-custom {
    /* fallback for old browsers */
    background: #6a11cb;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))
    }

    .plus,.moins{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 25px;
        width: 25px;
        border: none;
        border-radius: 90%;
        background-color: #C7824B;
    }
    .form-control{
        border: 1px solid #C7824B;
    }
   label{
    font-size: 10px;
    margin-left: 20%;
   }